body {
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    box-sizing: border-box;
    
    
 }
 
 
 
 #logo {
     height: 100px;
     width: 100px;
     margin: 15px;
 }
 
 nav {
     display: flex;
     flex-direction: row;
     justify-content: center;
     width: 65%;
     width: 100%;
     
 }

 
 
 #menu {
     display: flex;
     background-color: #bf2626;
     height: 55px;
     width: 25%;
     margin-top: 50px;
     list-style: none;
     text-align:center;
 }

 
 li {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     padding: 10px;
 
 }
 
 li:hover {
     background-color: tomato;
     text-shadow: 3px 3px 3px brown;
     border-radius: 5%;
 }

 li:active{
    background-color: rgb(255, 38, 0);
    text-shadow: 3px 3px 3px brown;
    border-radius: 5%;
 }
 a {
     color: white;
     text-decoration: none;
    
 }
 
 .bnt-style {
     background-color: crimson;
     color: white;
     height: 20px;
     border: 1px solid black;
     border-radius: 20%;
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
 }
 
 .bnt-style:hover {
     background-color: tomato;
     text-shadow: 3px 3px 3px brown;
 }
 
 
 #superior {
     background-color: black;
     width: 100%;
     color: white;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     gap: 20px;
     justify-content: center;
     align-content: center ;
     border-bottom:2px groove crimson;
     
 }
 
 #superior>img {
     height: 50px;
     width: 50px;
     margin-left: 10px;
 
 }
 
 .opcoes {
     background-color: white;
     margin: 10px;
     width: 15%
 }
 
 #whats {
     position: fixed;
     width: 60px;
     height: 60px;
     bottom: 40px;
     right: 40px;
     z-index: 1000;
     clip-path: circle(50% at 50% 50%
     );
}
 

 #cardapio {
    background-color: black;
    text-align: center;
    width: 75%;
    height: 75%;
    border-radius: 5%;
    color: white;
    border-top: 5px solid #fc00aa;
    border-left: 1px solid #fc00aa;
    border-right:1px solid #fc00aa;
    border-bottom: 5px solid #fc00aa;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    
 }

 
 #contexto {
    background: rgb(115,7,129);
    background: linear-gradient(0deg, rgba(115,7,129,0.8603816526610644) 0%, 
    rgba(252,0,170,0.8603816526610644) 100%);
    padding: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 4px;
    border-bottom-left-radius:5%;
    border-bottom-right-radius: 5%;
 }


 .itens {
    background-color: black;
    color: white;
    border: 4px solid black;
    border-bottom-left-radius:5%;
    border-bottom-right-radius: 5%;
    

 }

 .itens>p{
     text-align: justify;
 }

 .itens>button{
     float: right;
 }

 .zap {
    background-color: green;
    color: white;
    border-radius: 15%;
 }

 
 
footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    border-top:2px groove rgb(250, 4, 4);

}